.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

obj/
bin/
appsettings.json
.vscode/
launch.json
key.txt
__pycache__/
.env
.sonarqube/
__init__.py
catboost_info/
geçiciDosya.wav

# React
node_modules
dist
dist-ssr
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
