<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sesbil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sesbil.styles.css" asp-append-version="true" />
</head>
<body  style="background-color:rgb(43, 172, 201)">
    <header>
        <div class="layered">
            <h1 class="name"> <img src="/css/Speaking.png" alt="resim bulunamadı" height="130px" width="160px"> Sesbil</h1>
            <img src="/css/SoundWawes.jpg" alt="Resim Bulunamadı!" class="overlap">
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
