@keyframes appear{
    from {transform: translateY(+50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

@keyframes appear-buttons{
    from {transform: translateY(+50%) skew(-15deg);;opacity: 0;}
    to {transform: translateY(0) skew(-15deg);;opacity: 1;}
}

p{
    animation-name: appear;
    animation-duration: 0.6s;
    font-size: 20px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(183, 173, 173);
    padding:10px;
    text-align: justify;
}

button{
    animation-name: appear-buttons;
    animation-duration: 0.6s;
    transform: skew(-15deg);
    border:2px solid rgb(35, 34, 48);
    background-color: rgb(28, 161, 161);
    box-shadow: 2px 2px 4px black;
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    transform: scale(1.2,1.2);
}

button:focus{
    background-color:rgb(91, 203, 203);
}

label{
    font-size: 20px;
    vertical-align: middle;
}